{% extends 'base.html.twig' %}

{% block title %}Вход - Регистрация{% endblock %}

{% block body %}
    <div class="auth-block modal-block">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {{ form_start(formLogin) }}
        {{ form_widget(formLogin) }}
        {{ form_rest(formLogin) }}
        {{ form_end(formLogin) }}

        {{ form_start(formRegistration, {'attr': {'style': 'display:none'}}) }}
        {{ form_widget(formRegistration) }}
        {{ form_rest(formRegistration) }}
        {{ form_end(formRegistration) }}
    </div>
{% endblock %}
